@charset "utf-8";
.success .window-content,.window-container .window-content{padding: 20px 5%;border-bottom: 1px solid #bdbdbd;}
.success p,.window-container .window-content p{font-size: 14px;color:#676767;line-height: 24px;text-align: center;}
.window-btn button{height: 40px;width: 50%;text-align: center;line-height: 40px;font-size: 16px;font-weight: bold;color:#363636;}
.window-btn .confirm-button{color:#d6a41f;}
.window-container h2{text-align: center;font-size: 16px;font-weight: bold;color:#363636;padding-top: 22px;display: none;}
.window-btn .ack-button{display: none;height: 40px;width: 100%;text-align: center;line-height: 40px;font-size: 16px;font-weight: bold;color:#d6a41f;}
.window-btn .ack-button:active{background: #d6a41f;color:#fff;}
.fl{float:left;}
.fr{float: right;}
.window-container{width: 78%;background: #fff;position: fixed;top: 30%;left: 50%;margin-left:-39%;z-index: 100;border-radius: 4px;overflow: hidden;display: none;}
.btn{border-radius: 6px;font-size: 28px;line-height: 80px;background: #d6a41f;color: #fff;margin: 0 30px;text-align: center;}
.time{
    width: 160px;
    height: 50px;
    border: 1px #000 solid;
    font-size: 40px;
    color: #000;
    text-align: center;
    margin:0 auto;
}
.func_button {
    background-color:#4b3f39;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    text-decoration:none;
    text-align: center;
    color:#fff;
    position:relative;
    padding:10px ;
    /*padding-right:20px;*/
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #322620, 0px 10px 5px #999;
    margin: 1px 2px 30px 4px;
}
.hide{
    display: none;
}
.show{
    display: block;
}


